/* ======== Base Styles (phone) ======== */
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#box1 > img {
    height: 30%;
    padding: 2vh;
    right: 0;
    position: absolute;
    top: 20%;
}

#box2 > img {
    height: 30%;
    padding: 2vh;
    left: 0;
    position: absolute;
    top: 20%;
}

h1 {
    position: relative;
    color: green;
    text-align: center;
    z-index: 5;
    height: 15vh;
    padding-bottom: 5px;
    font-size: 5vmax;
}

#flex-container {
    display: flex;
    flex-direction: column;
}

#box1 {
    position: relative;
    background-color: white;
    width: 90%;
    margin: 5%;
    height: 55vh;
    box-shadow: 4px 4px 15px grey;
}

#title {
    position: relative;
    font-size: 150%;
    height: 5vh;
}



#box1 > p {
    text-align: left;
    margin: 10px;
    position: absolute;
    font-size: 2vmax;
    top: 25%;
    width: 50%;
    padding: 2vh;
}

#box2 {
    position: relative;
    background-color: white;
    width: 90%;
    margin: 5%;
    height: 55vh;
    box-shadow: 4px 4px 15px grey;
}

#box2 > p {
    text-align: left;
    margin: 10px;
    position: absolute;
    font-size: 2vmax;
    top: 20%;
    width: 50%;
    padding: 2vh;
    right: 0;
}

#timeline::after {
    content: '';
    position: fixed;
    width: 6px;
    background-color: white;
    border: solid white;
    top: 70px;
    left: 50vw;
    bottom: 0;
    z-index: -1;
}


/*tablet*/

@media only screen and (min-width: 600px) {

    h1 {
        color: yellow;
    }
}

/*laptop*/

@media only screen and (min-width : 800px) {

    h1 {
        color: orange
    }

    #box2 {

        align-self: flex-end;
        box-shadow: -4px 4px 15px grey;
        width: 60%;
    }

    #box1 {
        width: 60%;
    }


}

/*desktop*/

@media only screen and (min-width : 1000px) {

    h1 {
        color: red;
    }

    #box2 {
        height: 60vh;
        width: 80%;
    }

    #box1 {
        width: 80%;
        height: 60vh;
    }
}
