/* ======== Base Styles (phone) ======== */
body {
    background: lightgrey;
    width: 100vw;
}

h1 {
    position: relative;
    color: green;
    text-align: center;
    z-index: 5;
    background-color: lightgray;
    width: 100vw;
    height: 10vh;
    padding-bottom: 5px;
    font-size: 5vmax;
}

#flex-container {
    display: flex;
    flex-direction: column;
}

#box1 {
    position: relative;
    background-color: white;
    width: 80vw;
    margin: 5%;
    height: 20vh;
    box-shadow: 4px 4px 5px grey ;
}
#box1 > p {
    text-align: left;
    margin: 10px;
}
#box2 {
    position: relative;
    background-color: white;
    width: 80vw;
    margin: 5%;
    height: 20vh;
    box-shadow: 4px 4px 5px grey ;
}
#box2 > p {
    text-align: right;
    margin: 10px;
}
#timeline::after {
    content: '';
    position: fixed;
    width: 6px;
    background-color: white;
    border: solid white;
    top: 70px;
    left: 50vw;
    bottom: 0;
    z-index: -1;
}

/*tablet*/

@media only screen and (min-width: 600px) {
    h1 {
        color: yellow;
    }

}

/*laptop*/

@media only screen and (min-width : 800px) {
    h1 {
        color: orange;
    }
    #box2 {

    align-self: flex-end;
    box-shadow: -4px 4px 5px grey ;
    }
}

/*desktop*/

@media only screen and (min-width : 1000px) {
    h1 {
        color: red;
    }
    

}
